@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: #000000;
  background-image: url("/img/home/Desktope.png");
  background-image: url("/img/home/Mobile.png");
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1204px) {
  html {
    background-image: url("/img/home/Desktope.png");
  }
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-j-header.is-open .t-j-header-background {
  left: 0;
}
.t-j-header-button-wrapper {
  margin-left: auto;
}
.t-j-header-icon {
  display: none;
}

.t-j-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-j-navigation-list.is-open {
  right: 0;
}
.t-j-header-icon-menu {
  display: block;
}

.t-j-header-icon-button.is-open .t-j-header-icon-menu {
  display: none;
}

.t-j-header-icon-button.is-open .t-j-header-icon-close {
  display: block;
}

.t-j-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
}

.t-j-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #ac8cbb;
}
.t-j-header.is-open .t-j-header-background {
  left: 0;
}
.t-j-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-j-header-icon-menu {
  display: block;
}

.t-j-header-icon-button.is-open .t-j-header-icon-menu {
  display: none;
}

.t-j-header-icon-button.is-open .t-j-header-icon-close {
  display: block;
}

.t-j-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 16px;
  position: relative;
}

.t-j-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 20px;
  background: #8101bd;
  box-shadow: 0px 2px 10px 0px #00000040;

  height: 572px;
  padding-top: 144px;

  border-radius: 50px;
}

.t-j-navigation-list.is-open {
  right: 0;
}

.t-j-navigation-link {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #f5efff;
}

.t-j-navigation-link:hover,
.t-j-navigatioт-link:focus {
  font-weight: 700;
  font-size: 22px;
}

.t-j-header.is-open {
  background-color: transparent;
}

.t-j-navigation-img {
  display: none;
}

@media screen and (min-width: 1204px) {
  .t-j-navigation-img {
    display: flex;
  }
  .t-j-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .t-j-header {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: #8101bd;
  }

  .t-j-header-background {
  }
  .t-j-header-icon-button {
    display: none;
  }
  .t-j-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-j-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 49px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .t-j-navigation-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-j-navigation-link:hover,
  .t-j-navigation-link:focus {
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-j-navigation-item-desk {
    display: none;
  }
}
.t-j-home {
  width: 375px;
  height: 820px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 296.png");
  margin: auto;
}
.t-j-home-container {
  width: 375px;
  padding: 249px 51px 0px;
  margin: auto;
}

.t-j-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t-j-home-title {
  font-family: Fredoka;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.t-j-home-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 8px;
}

@media screen and (min-width: 1204px) {
  .t-j-home {
    width: 1440px;
    height: 797px;
    background-image: url("/img/home/Frame\ 297.png");
  }
  .t-j-home-container {
    width: 1440px;
    padding: 145px 261px 0px;
  }
  .t-j-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 404px;
  }

  .t-j-home-title {
    font-family: Fredoka;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-j-home-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 10px;
  }
}

.t-j-about-container {
  width: 375px;
  padding: 114px 16px 0px;
  margin: auto;
}
.t-j-about-title {
  font-family: Fredoka;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.t-j-about-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 24px;
}

@media screen and (min-width: 1204px) {
  .t-j-about-container {
    width: 1440px;
    padding: 117px 308px 0;
  }
  .t-j-about-title {
    font-family: Fredoka;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .t-j-about-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-j-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px 120px;
  position: relative;
}
.t-j-why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.t-j-why-item {
  border-radius: 100px;
  padding: 36px;
  background: #f5efff;
  box-shadow: 0px 2px 10px 0px #00000040;
}

.t-j-why-text-bold {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}
.t-j-why-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 8px;
}
.t-j-why-img {
  position: absolute;
  width: 129px;
  height: 179px;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 1204px) {
  .t-j-why-container {
    width: 1440px;
    padding: 120px 180px 184px;
  }
  .t-j-why-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    height: 547px;
  }
  .t-j-why-item {
    width: 528px;
    gap: 10px;
    border-radius: 100px;
    padding: 36px 41px;
  }

  .t-j-why-text-bold {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-j-why-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-j-why-img {
    width: 215px;
    height: 297px;

    bottom: 120px;
    right: 180px;
  }
}

.t-j-how {
  background: #f5efff;
}
.t-j-how-container {
  margin: auto;
  width: 375px;
  background: #f5efff;

  padding: 48px 36px 164px;
}
.t-j-how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.t-j-how-item {
  width: 303px;
  height: 303px;
  padding-right: 28px;
  padding-left: 28px;
  border-radius: 151.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #b596c3;
  box-shadow: 0px 2px 10px 0px #00000040;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.t-j-how-text-bold {
  font-family: Fredoka;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.t-j-how-text {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 10px 0 16px;
}
.t-j-how-img {
  display: none;
}
@media screen and (min-width: 1204px) {
  .t-j-how-container {
    margin: auto;
    width: 1440px;
    padding: 48px 180px;
    position: relative;
  }
  .t-j-how-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 303px;
    row-gap: 0;
    padding-left: 171px;
    height: 600px;
    position: relative;
  }
  .t-j-how-item-q {
    position: absolute;
    top: 296px;
    left: 474px;
  }
  .t-j-how-item {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .t-j-how-text {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .t-j-how-img {
    display: block;
    position: absolute;
    bottom: 61px;
  }
}

.t-j-reviews {
  background: #f5efff;
}
.t-j-reviews-container {
  margin: auto;
  padding: 57px 42.5px;
  width: 375px;
  background: #f5efff;
}
.t-j-reviews-list {
  display: none;
}
.t-j-reviews-lists {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 18px;
}
.t-j-reviews-item {
}

.t-j-reviews-img {
  width: 70px;
}
.t-j-reviews-text-bold {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 16px 0;
}

.t-j-reviews-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1204px) {
  .t-j-reviews-container {
    margin: auto;
    padding: 57px 261px 46px;
    width: 1440px;
    position: relative;
  }
  .t-j-reviews-list-left {
    position: absolute;
    top: 244.5px;
    left: 180px;
  }
  .t-j-reviews-list-right {
    position: absolute;
    top: 244.5px;
    right: 180px;
  }
  .t-j-reviews-list {
    display: block;
    padding-top: 40px;
  }
  .t-j-reviews-lists {
    display: none;
  }
  .t-j-reviews-item {
    width: 290px;
    height: 225px;
    margin: 0 12px;
  }

  .t-j-reviews-text-bold {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-j-reviews-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.t-j-faq-container {
  padding: 80px 15px;
  width: 375px;
  margin: auto;
}
.t-j-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.t-j-faq-item {
  background: #f5efff;
  box-shadow: 0px 2px 10px 0px #00000040;
  border-radius: 100px;
  padding-top: 16px;
  padding-right: 36px;
  padding-bottom: 16px;
  padding-left: 36px;
}

.t-j-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Fredoka;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.t-j-faq-answer {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.t-j-toggle-button img {
  transition: transform 0.3s ease;
  width: 36px;
}
.t-j-faq-img {
  display: none;
}
.t-j-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
.t-j-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.t-j-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 10px;
}

.t-j-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1204px) {
  .t-j-faq-container {
    padding: 120px 195px 120px;
    width: 1440px;
    margin: auto;
    position: relative;
  }
  .t-j-faq-list {
    padding-top: 40px;
    padding-left: 323px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .t-j-faq-question {
    font-family: Quicksand;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-j-faq-answer {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-j-toggle-button img {
    transition: transform 0.3s ease;
    width: 50px;
  }
  .t-j-faq-img {
    display: block;
    position: absolute;
    left: 194px;
    bottom: 120px;
  }
}

.t-j-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 15px 0;
}
.t-j-gallery-list {
  display: none;
}
.t-j-gallery-lists {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 38px;
}
.t-j-gallery-item {
  width: 344px;
  overflow: hidden;
  position: relative;
}

.t-j-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.t-j-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1204px) {
  .t-j-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .t-j-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .t-j-gallery-button-icon {
    width: 50px;
    height: 50px;
  }
  .t-j-gallery-button:hover {
    scale: 120%;
  }

  .t-j-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 120px 266px 0;
    position: relative;
  }
  .t-j-gallery-list-left {
    position: absolute;
    left: 180px;
    top: 319.5px;
  }
  .t-j-gallery-list-right {
    top: 319.5px;
    position: absolute;
    right: 180px;
  }
  .t-j-gallery-list {
    display: block;
    padding-top: 40px;
  }
  .t-j-gallery-lists {
    display: none;
  }
  .t-j-gallery-item {
    width: 442px;
    height: 249px;

    margin: 0 12px;
  }
}
.t-j-policy-terms-container {
  padding: 90px 20px 63px;
  width: 375px;
  margin: auto;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  background: #f5efff;
}

.t-j-policy-terms-container h1 {
  margin-bottom: 30px;
  font-family: Fredoka;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.t-j-policy-terms-container h2 {
  margin-bottom: 16px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.t-j-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 16px;
}
.t-j-policy-terms-container p {
  margin-bottom: 16px;
}
.t-j-email-link {
  color: inherit;
}
@media screen and (min-width: 1204px) {
  .t-j-policy-terms-container {
    padding: 145px 180px 60px;
    width: 1440px;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-j-policy-terms-container h1 {
    font-family: Fredoka;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
  }
  .t-j-policy-terms-container h2 {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-bottom: 24px;
  }
  .t-j-policy-terms-container p {
    margin-bottom: 24px;
  }
}

.t-j-footer-container {
  width: 375px;
  background: #8101bd;

  padding: 25px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #ffffff;
}

.t-j-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.t-j-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.t-j-footer-copyright {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1%;
}

@media screen and (min-width: 1204px) {
  .t-j-footer-container {
    width: 1440px;
  }

  .t-j-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 19px;
  }

  .t-j-footer-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .t-j-footer-copyright {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.t-j-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 28px;
  background: #ffffff;

  z-index: 1000;
  display: none;
}
.t-j-cookie-popup-text {
  font-family: Quicksand;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.t-j-cookie-popup-text-two {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 24px;
}

.t-j-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.t-j-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #000000;
  box-shadow: 0px 1px 3px 0px #87614c;
  width: 319px;
  border-radius: 8px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

#accept-cookies {
  border: none;
  box-shadow: none;
  background: #8101bd;
  color: #ffffff;
}

.t-j-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1204px) {
  .t-j-cookie-popup-text {
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .t-j-cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .t-j-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .t-j-cookie-button {
    width: 269px;
    border-radius: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .t-j-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px;
    display: none;
  }
}
